<ion-view title="About" id="page6">
  <ion-content padding="true" style="background: url(img/cSrQN0SdiZ5DDFgE4opw_370799.jpg) no-repeat center;background-size:cover;" class="has-header">
    <!--heading for the app-->
	<h1 id="about-heading1" style="color:#FFFFFF;text-align:center;">About the App</h1>
    <div>
	<!--notepad image serving as about us icon-->
      <img src="img/XpcBvZ7ZR4SxoH7pgiul_unnamed.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="about-markdown5" class="show-list-numbers-and-dots">
	<!--Text telling the user what the app is and how to use it-->
      <p style="color:#FFFFFF;font-size:20px;">To use the app simply click on the survey tab to input your results. Once your results have been accepted they will be displayed on the results page along with the others who have taken part. A circle will show what colour you have selected, what
        your name is and what sports game you selected.</p>
    </div>
  </ion-content>
</ion-view>